<section>
  <div class="signin">
    <div class="content">
      <h2>Sign Up</h2>
      <form (ngSubmit)="onSubmit()" class="form">
        <div class="inputBox">
          <input
            class="inputText"
            type="text"
            name="username"
            placeholder="Username"
            [(ngModel)]="username"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="inputBox">
          <input
            class="inputText"
            type="email"
            name="mail"
            placeholder="Email adress"
            [(ngModel)]="mail"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="inputBox">
          <input
            class="inputText"
            type="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="password"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="inputBox">
          <input
            class="inputText"
            type="text"
            name="firstname"
            placeholder="First Name"
            [(ngModel)]="firstname"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="inputBox">
          <input
            class="inputText"
            type="text"
            name="familyname"
            placeholder="Family Name"
            [(ngModel)]="familyname"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="inputBox">
          <input
            class="inputText"
            type="text"
            name="phone"
            placeholder="Phone Number"
            [(ngModel)]="phone"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="inputBox">
          <input
            class="inputText"
            type="text"
            name="address"
            placeholder="Address"
            [(ngModel)]="address"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>

        <div class="links">
          <p href="#">Already have an account? <a href="/login">Sign in</a></p>
        </div>
        <div class="inputBox">
          <input
            name="register"
            class="submitButton"
            type="submit"
            value="Register"
          />
        </div>
      </form>
    </div>
  </div>
</section>
<!-- partial -->
